.CardPicker {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #222;
  padding: 1rem;
  z-index: 1;
}

.CardPicker_cards {
  width: 100%;
  margin-bottom: 0.6rem;
}

.CardPicker_activeHands {
  margin-bottom: 2.5vh;
}

.CardPicker_cards .Card {
  max-width: 5000px;
  width: auto;
  padding: 0;
  margin: 0 0.3vh;
  height: 7.6vh;
}

.CardPicker_cards button.taken .Card {
  cursor: no-drop;
}
